nav{
    padding-left: 120px !important;
}
.font-bar{
    font-size: 21px !important;
    color: white !important;
}
body{
 background-color:  #dfdfbb!important;
}
.espaco{
    padding-top: 30px !important;
}
.esp-footer{
    margin-top: 30px !important;
}
.tamanho-noticia{
    height: 300px !important;
}
button{
    position: relative;
}
.fixa-bottom{
    position: fixed;
    right: 0;
    bottom: 0;
    /* left: 0; */
    z-index: 1030;
}
.menu-fixado{
    padding-top: 86px !important;
}